$color-primary: #161934;
$color-primary-tint: #181c3a;
$color-primary-shade: #13162e;

$color-secondary: #00d394;
$color-secondary-tint: #80e9ca;
$color-secondary-shade: #006a4a;

$color-black: #000000;
$color-white: #ffffff;

$color-success: #57f287;
$color-error: #ed4245;

$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #dee2e6;

$color-grey-dark-1: #6c757d;
$color-grey-dark-2: #343a40;

$default-font-size: 1.6rem;
$default-border-radius: 0.8rem;

$default-box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

$navigation-height: 4rem;
